body{
    background-color: #f7f7f7;
}

.card-input{
    box-shadow: 0 5px 24px rgba(31, 37, 59, 0.15);
    background: #fff;
    height: 60px;
    padding: 0 45px 0 20px;
    border-radius: 10px;
    border: 1px solid #E1E5F2;
    font-size: 18px;
    line-height: 58px;
    color: #e3d7d9;
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card{
    border-radius: 20px;
    border: 0;
    box-shadow: 0 16px 40px rgba(0, 22, 84, 0.06);
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#main-bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    background-image: url("/DesignReverse/NycPropertyClub/images/linn.svg");
    background-position: center;
    background-size: cover;
    height: 910px;

}

#second-bg{
    width: 1100px;
    margin-left: -200px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.special{
    border-radius: 50px;
    margin-right: 30px;
    padding-right: 60px;
    padding-left: 60px;
}

.content{
    width: 450px;
    padding: 25px 40px 30px;
    background: #f7f9fe;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 22, 84, 0.15);

    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-headline{
    font-weight: 700;
    font-size: 40px;
}

.container{
    background-color: #f7f7f7;
}

.container > h5 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

.container > h3 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}

.container > a {
    display: inline-block;
    color: #3151B7;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 50px;
}

.second-section{
    padding: 20px 0 100px;
    margin-top: 300px;
}

#pills-tab{
    justify-content: center;
    border-bottom: 1px solid #E1E5F2;
}

.nav-pills .nav-link.active{
    background-color: transparent;
    color: #000;
    border-bottom: 2px solid #3C3956;
    border-radius: 0;
    font-weight: bold;
}

.promo{
    position: relative;
    height: 100px;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 0 30px 0 50px;
    z-index: 1;
    box-shadow: 0 14px 40px rgba(0, 22, 84, 0.08);
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;

}

.promo > h4 {
    position: absolute;
    left: 60px;
    font-size: 30px;
    font-weight: 500;
}

.navbar{
    z-index: 2;
    height: 170px;
    padding: 0 120px 0 40px;
}

#navbar-button{
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    background: #fff;
    color: #3151B7;
    box-shadow: 0 5px 24px rgba(31, 37, 59, 0.15);
    border-radius: 30px;
    border: 0;
}



#navbarNavAltMarkup{
    justify-content: flex-end;
}

.navbar-item{
    margin-right: 5vw;
    padding: 0 30px;
    line-height: 45px;
}

#navbar-content{
    padding-right: 20vw;
}

.rooms{
    color: #9998ab;
    font-size: 14px;
}

.price{
    color: #3151b7;
    font-weight: bold;
}

.month{
    font-size: small;
    color: #9998ab;
    font-weight: normal;
}

#selector-bed{
    color: #9997aa;
}

#selector{
    position: relative;
    height: 60px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E1E5F2;
    border-radius: 10px;
    width: 100%;
    padding: 0 30px 0 50px;
    z-index: 1;
    box-shadow: 0 14px 40px rgba(0, 22, 84, 0.08);
    display: flex;
    justify-content: space-evenly;
    color: #3c3956;
}

.selection{
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 17px;
    color: #3c3956;
}

#selection-submit{
    background: #2f4daf;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    border-radius: 50px;
}

.active-selector{
    background: #D9DEEE;
    border-radius: 30px;
}

.ad-title{
    font-size: 46px;
    font-weight: 600;
}

.ad-text-s{
    color: #817F96;
    font-size: 18px;
    line-height: 1.7;
}

.text-column > h3{
    font-size: 46px;
    font-weight: 600;
    line-height: 1.4;
    padding-right: 20%;
}

.text-column > p{
    color: #817F96;
    line-height: 1.7;
    font-size: 18px;
    margin: 30px 0 50px;
    padding-right: 15%;
}

.image-card{
    border-radius: 30px;
    height: 300px;
    width: 250px;
    margin-right: 10px;
}

.hood{
    margin-top: 200px;
    padding:0px 0 80px;
    overflow: hidden;

}

.footer{
    padding-top: 50px;
}

.footer-title{
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 20px;
    color: #3151B7;
}

.footer-section > a{
    display: block;
    color: #817F96;
    line-height: 30px;
    margin: 5px 0;
    transition: 0.1s;
}